.App {
  background: linear-gradient(247.13deg, #5DFEFF 0%, #5349CB 37.46%, #4D0293 61.77%, #190033 100%);
  background-attachment:fixed;
  background-position: center fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.line{
  width:30vw;
  height: 2px;
  display: flex;
  justify-content: center;
  margin: auto;
  background: linear-gradient(90deg, #5DFEFF 0%, #5A3AD0 37.5%, #450184 66.15%, #190033 100%);
}

.excp{
  margin-top: 20px;
}